@model List<MyPortfolio.BusinessLayer.Dtos.TestimonialDtos.ResultTestimonialDto>

@if (Model != null && Model.Count > 0)
{
    <section id="testimonials" class="section-padding">
        <div class="container">
            <div class="section-title">
                <span class="subtitle">REFERANSLARIM</span>
                <h2 class="title">Hakkımda Ne Dediler?</h2>
            </div>

            <div class="testimonials-slider swiper">
                <div class="swiper-wrapper">
                    @foreach (var item in Model)
                    {
                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    @item.Description
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img src="@item.ImageUrl" class="testimonial-img" alt="">
                                <h3>@item.NameSurname</h3>
                                <h4>@item.Title</h4>
                            </div>
                        </div>
                    }
                </div>
                <div class="swiper-pagination" style="position: relative; margin-top: 20px;"></div>
            </div>
        </div>
    </section>
}