@{
    ViewData["Title"] = "Hakkımda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Component.InvokeAsync("_FeatureComponentPartial")
@await Component.InvokeAsync("_AboutComponentPartial")
@await Component.InvokeAsync("_ExperienceComponentPartial")
@await Component.InvokeAsync("_SkillComponentPartial")
<div class="portfolio-grid">
    @await Component.InvokeAsync("_PortfolioComponentPartial")
</div>

@await Component.InvokeAsync("_TestimonialComponentPartial")
@await Component.InvokeAsync("_ContactComponentPartial")