@model MyPortfolio.BusinessLayer.Dtos.FeatureDtos.ResultFeatureDto

<section id="home" class="hero-wrapper">
    <div class="hero-content">
        @if (Model != null)
        {
            <span class="hero-subtitle">GELİŞTİRİCİNİN DÜNYASINA HOŞ GELDİNİZ</span>
            <h1 class="hero-title">Ben <span>@Model.Title</span></h1>
            <p class="hero-description">@Model.Description</p>

            <div class="hero-btns">
                <a href="#portfolio" class="btn-hero btn-primary-hero">PROJELERİMİ GÖR</a>
                <a href="#contact" class="btn-hero btn-outline-hero">İLETİŞİME GEÇ</a>
            </div>
        }
        else
        {
            <div class="alert alert-dark">Feature verisi DB'den gelmiyor, veritabanını kontrol et reis!</div>
        }
    </div>
</section>