@model List<MyPortfolio.BusinessLayer.Dtos.SocialMediaDtos.ResultSocialMediaDto>

<div class="social-links">
    @if (Model != null && Model.Count > 0)
    {
        @foreach (var item in Model)
        {
            <a href="@item.Url" class="social-icon-btn @item.Title" target="_blank" title="@item.Title">
                <i class="@item.Icon"></i>
            </a>
        }
    }
    else
    {
        <p class="text-muted small">Mecralar bekleniyor...</p>
    }
</div>